<md-dialog aria-label="Client Providers" ng-cloak flex="80">
    <form name="clientProviderForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Client Providers</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cp.closeDialog()" ng-disabled="clientProviderForm.$invalid">
                    <md-icon md-svg-src="content/image/minus.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-list class="provider-list" flex ng-if="cp.agencies">
                    <md-list-item ng-repeat="p in cp.ClientProviders">
                        <ng-form name="providerForm" flex layout="row">
                            <agency ref="p" agencies="cp.agencies" flex="20"></agency>
                            <md-input-container>
                                <label>Agency Contact</label>
                                <input type="text" ng-model="p.contactPerson" />
                            </md-input-container>
                            <md-input-container>
                                <label>Need</label>
                                <md-select name="need" ng-model="p.needId" aria-label="Need Drop Down" required >
                                    <md-option ng-repeat="n in cp.needOptions" value="{{n.needId}}">{{n.needName}}</md-option>
                                </md-select>
                                <div ng-messages="providerForm.need.$error">
                                    <div ng-message="required">This field is required, must come from a Client's existing needs</div>
                                </div>
                            </md-input-container>
                            <md-button class="md-icon-button md-secondary my-second" ng-click="cp.removeProvider($index)">
                                <md-tooltip>Remove Provider</md-tooltip>
                                <md-icon md-svg-src="content/image/ex.svg" aria-label="Remove Provider"></md-icon>
                            </md-button>
                        </ng-form>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row">
        <md-button class="md-accent md-fab" aria-label="Add Need" ng-click="cp.addProvider()">
            <md-tooltip>Add Provider</md-tooltip>
            <md-icon md-svg-src="content/image/plus.svg"></md-icon>
        </md-button>
    </md-dialog-actions>
</md-dialog>